body{
    box-sizing: border-box;
    /* background-image: url('./Word\ Widget\ \(6\).png') */
} 

h1{
    /* color: white; */
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}


.longerThan5{
    display: none;
}

markLongest {
    background-color: rgb(255, 0, 106);
    color: white;
}

.last5sentences{
    width:295px;
    height:100px;
    border:1px solid black;
    /* background: transparent; */
}

