/* body{
    box-sizing: border-box;
    /* background-color: cornflowerblue; */
    /* background-color: cornflowerblue; */
/* } */ 

.longerThan5{
    display: none;
}

markLongest {
    background-color: rgb(255, 0, 106);
    color: white;
  }

