body{
    box-sizing: border-box;
    background-image: url('./Word\ Widget\ \(6\).png')
} 

h1{
    color: white;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}

.analyse{
    background-color: #eb80d9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

.analyse{
    background-color: white; 
    color: black; 
    border: 2px solid #eb80d9;
}
  
.analyse:hover{
    background-color: #eb80d9;
    color: black;
}

.longerThan5{
    display: none;
}

markLongest{
    background-color: rgb(255, 0, 106);
    color: white;
}

.last5sentences{
    width:400px;
    height:200px;
    /* color: white; */
    /* border:1px solid black; */
    
}

li{
    color: white;
    list-style-type: decimal;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
}

.green{
    background-color: rgb(16, 214, 16);
}

.orange{
    background-color: orange;
}

.error{
    color: red;
    font-weight: bold;
}

.slidecontainer {
    width: 100%;
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background: #04AA6D; */
    /* background: #eb80d9; */
    background: #e3f305;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background: #04AA6D; */
    /* background: #eb80d9; */
    background: #e4f30c;
    cursor: pointer;
}

p{
    font-weight: bold;
}

.sentenceDisplay{
    font-size: 1.3rem;
}

.lessthan5{
    font-size: 1.3rem;
}

.count{
    font-size: 1.5rem;
    color: white;
}